@charset "UTF-8";
/*
Name:         cubestore theme
Written by:   TetraThemes - (http://tetra-themes.net)
*/
/* ------------------------------------- */
/*  Global area Style
/*    - typo
/*    - form
/*    - table
/*    - header
/*    - section
/*    - footer
/* ------------------------------------- */
/**
 *	body
 */
body {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #333;
  font-size: 12px;
  background-color: #fff;
}

/**
 *	link
 */
a {
  transition: .2s;
  color: #00E;
}
a:hover {
  color: #00E;
}
a:hover img {
  opacity: .8;
}

/**
 *	headline
 */
h1, .h1 {
  font-size: 32px;
}

h2, .h2 {
  font-size: 26px;
}

h3, .h3 {
  font-size: 22px;
}

h4, .h4 {
  font-size: 18px;
}

h5, .h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 14px;
}

/**
 *  list-inline
 */
.list-inline > li {
  padding-right: 0;
}

/**
 *  dl
 */
.ui-side dl {
  margin-bottom: 10px;
}

/**
 *	well
 */
.well {
  margin-bottom: 40px;
  border-radius: 0;
  box-shadow: none;
  color: #444;
  background-color: #f4f4f4;
}
.well p {
  margin-bottom: 0;
}

/**
 *  form
 */
.form-control {
  border-radius: 2px;
}

/**
 *  table
 */
.table tbody tr th {
  background-color: #f4f4f4;
}
.table tbody tr td {
  padding: 10px;
}

/**
 *  table calendar
 */
.ui-side .table caption {
  text-align: center;
}
.ui-side .table > thead > tr > th {
  background-color: #f4f4f4;
}
@media (min-width: 768px) {
  .ui-side .table > thead > tr > th {
    padding: 3px;
    font-size: 12px;
  }
}
@media (min-width: 992px) {
  .ui-side .table > thead > tr > th {
    padding: 6px;
  }
}
.ui-side .table > tbody > tr > td {
  text-align: center;
  border: none;
}
.ui-side .table > tbody > tr > td.off {
  background-color: #FFCFCF;
}
@media (min-width: 768px) {
  .ui-side .table > tbody > tr > td {
    padding: 3px;
    font-size: 12px;
  }
}
@media (min-width: 992px) {
  .ui-side .table > tbody > tr > td {
    padding: 6px;
  }
}

/**
 *  header_wrap
 */
.ui-header {
  position: relative;
  padding: 15px 0;
}
@media (max-width: 767px) {
  .ui-header {
    text-align: center;
  }
}

/**
 *  logo_area
 */
.block-head-logo {
  display: inline-block;
}
.block-head-logo .logo {
  display: inline-block;
  margin: 0;
}
@media (max-width: 767px) {
  .block-head-logo {
    margin-bottom: 10px;
  }
}

/**
 *  header_utility
 */
.block-head-content {
  display: inline-block;
  float: right;
}

/**
 *  navbar layout
 */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border: none;
}
.navbar .navbar-toggle {
  border-color: transparent;
}
.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
  background-color: transparent;
}
.navbar .title {
  margin: 0;
}
.navbar .title .navbar-brand {
  height: auto;
  padding: 10px;
  font-size: 38px;
  line-height: 1;
}
@media (max-width: 767px) {
  .navbar .title .navbar-brand {
    font-size: 28px;
  }
}
.navbar .title .navbar-brand img {
  max-height: 40px;
}
@media (max-width: 767px) {
  .navbar .title .navbar-brand img {
    max-height: 30px;
  }
}
@media (max-width: 767px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    color: #333;
  }
  .navbar .navbar-collapse .navbar-nav .dropdown-menu > li > a {
    color: #333;
  }
  .navbar .navbar-collapse .navbar-nav > .open > a,
  .navbar .navbar-collapse .navbar-nav > .open > a:focus,
  .navbar .navbar-collapse .navbar-nav > .open > a:hover {
    background-color: transparent;
  }
  .navbar .navbar-form {
    border-color: transparent;
  }
}
@media (min-width: 768px) {
  .navbar {
    min-height: 0;
    border: none;
  }
  .navbar .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar .nav > li > a {
    padding: 12px 10px;
    font-size: 12px;
    font-weight: bold;
  }
  .navbar .dropdown-menu {
    padding: 0;
  }
  .navbar .dropdown-menu > li > a {
    padding: 10px 20px;
    font-size: 12px;
  }
}
@media (min-width: 992px) {
  .navbar .nav > li > a {
    padding: 12px 18px;
  }
}

/**
 *  navbar default style
 */
.navbar.navbar-default {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  background: #ffffff;

/**  background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
 */
}
.navbar.navbar-default .navbar-header .navbar-brand {
  color: #111;
}
.navbar.navbar-default .navbar-toggle .icon-bar {
  background-color: #111;
}
.navbar.navbar-default .nav {
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #fbfbfb;
}
.navbar.navbar-default .nav > li > a {
  border-left: 1px solid #fbfbfb;
  border-right: 1px solid #e1e1e1;
  color: #111;
}
.navbar.navbar-default .nav > li > a:hover {
  background-color: #f1f1f1;
}
.navbar.navbar-default .navbar-nav > .open > a,
.navbar.navbar-default .navbar-nav > .open > a:focus,
.navbar.navbar-default .navbar-nav > .open > a:hover,
.navbar.navbar-default .navbar-nav > .active > a,
.navbar.navbar-default .navbar-nav > .active > a:focus,
.navbar.navbar-default .navbar-nav > .active > a:hover {
  color: #fff;
  border-left-color: transparent;
  border-right-color: transparent;
  background-color: #D10400;
}

/**
 *  hover-open
 */
@media (min-width: 768px) {
  .navbar.hover-open .dropdown:hover > .dropdown-menu {
    display: block;
  }
}

/**
 *  dropdown-submenu
 */
.dropdown-menu .dropdown-menu {
  top: 0;
  left: 100%;
}

/**
 *  dropdown-toggle-icon
 */
.dropdown a i {
  line-height: 1.4;
}

/**
 *  ui-content-bottom
 */
.ui-content-bottom {
  margin-bottom: 25px;
}

/**
 *  ui-section
 */
.ui-content-top {
  margin-bottom: 25px;
}

.ui-main-top .ui-section {
  margin-bottom: 25px;
}

.ui-main .ui-section {
  margin-bottom: 25px;
}

.ui-side .ui-section {
  margin-bottom: 15px;
}

.ui-content-bottom .ui-section {
  margin-bottom: 10px;
}

.ui-side .ui-section {
  padding: 7px;
  border: 1px solid #aaa;
}

/**
 *  section-body
 */
.block-newproducts .section-body,
.block-sellranking .section-body,
.block-recommend .section-body,
.block-shopping-guide .section-body,
.block-banner-main .section-body {
  padding: 10px;
  border: 1px solid #aaa;
}

/**
 *  ui-pagetop
 */
.ui-pagetop {
  text-align: right;
  margin-bottom: -1px;
}
.ui-pagetop a {
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid #aaa;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  color: #111;
  font-size: 12px;
}
.ui-pagetop a:hover {
  text-decoration: none;
  border-color: transparent;
  background-color: #aaa;
}

/**
 *  copyright
 */
.ui-footer .copy {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #aaa;
  font-size: 10px;
}

/* ------------------------------------- */
/*  Components
/*    - buttons
/*    - title
/*    - contentbox
/*    - list
/* ------------------------------------- */
.btn-main {
  color: #fff;
  background-color: #4141ff;
  background-image: -webkit-linear-gradient(#4141ff, #00E);
  background-image: linear-gradient(#4141ff, #00E);
  border-color: #00E;
}
.btn-main:hover, .btn-main:focus, .btn-main.focus, .btn-main:active, .btn-main.active,
.btn-main .open > .dropdown-toggle {
  color: #fff;
  background-color: #0000bb;
  border-color: #0000b1;
}
.btn-main:active, .btn-main.active,
.btn-main .open > .dropdown-toggle {
  background-image: none;
}
.btn-main.disabled, .btn-main.disabled:hover, .btn-main.disabled:focus, .btn-main.disabled.focus, .btn-main.disabled:active, .btn-main.disabled.active, .btn-main[disabled], .btn-main[disabled]:hover, .btn-main[disabled]:focus, .btn-main[disabled].focus, .btn-main[disabled]:active, .btn-main[disabled].active, fieldset[disabled] .btn-main, fieldset[disabled] .btn-main:hover, fieldset[disabled] .btn-main:focus, fieldset[disabled] .btn-main.focus, fieldset[disabled] .btn-main:active, fieldset[disabled] .btn-main.active {
  background-color: #00E;
  border-color: #00E;
}
.btn-main .badge {
  color: #00E;
  background-color: #fff;
}

.btn-key {
  color: #fff;
  background-color: #ff2824;
  background-image: -webkit-linear-gradient(#ff2824, #D10400);
  background-image: linear-gradient(#ff2824, #D10400);
  border-color: #D10400;
}
.btn-key:hover, .btn-key:focus, .btn-key.focus, .btn-key:active, .btn-key.active,
.btn-key .open > .dropdown-toggle {
  color: #fff;
  background-color: #D10400;
  border-color: #D10400;
}
.btn-key:active, .btn-key.active,
.btn-key .open > .dropdown-toggle {
  background-image: none;
}
.btn-key.disabled, .btn-key.disabled:hover, .btn-key.disabled:focus, .btn-key.disabled.focus, .btn-key.disabled:active, .btn-key.disabled.active, .btn-key[disabled], .btn-key[disabled]:hover, .btn-key[disabled]:focus, .btn-key[disabled].focus, .btn-key[disabled]:active, .btn-key[disabled].active, fieldset[disabled] .btn-key, fieldset[disabled] .btn-key:hover, fieldset[disabled] .btn-key:focus, fieldset[disabled] .btn-key.focus, fieldset[disabled] .btn-key:active, fieldset[disabled] .btn-key.active {
  background-color: #D10400;
  border-color: #D10400;
}
.btn-key .badge {
  color: #D10400;
  background-color: #fff;
}

/**
 *  button-layout
 */
.btn {
  border-radius: 2px;
}

/**
 *  ui-title
 */
.entry-title .title,
.section-title .title,
.side-title .title {
  display: inline-block;
  margin: 0;
  color: #111;
}

/**
 *  entry-title
 */
.entry-title {
  margin-bottom: 25px;
}
.entry-title .title {
  font-size: 36px;
  font-weight: bold;
}
.entry-title .title a {
  font-weight: bold;
}

/**
 *  section-title
 */
.section-title {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background-color: #D10400;
}
.section-title .title {
  padding: 10px 15px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
.section-title .title a {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

#mypagecolumn .section-title,
#undercolumn_shopping .section-title,
#undercolumn_login .section-title,
.subcomment-area .section-title,
#whobought_area .section-title {
  margin-bottom: 15px;
}

/**
 *  content-title
 */
.content-title {
  margin-bottom: 15px;
}
.content-title .title {
  font-size: 16px;
  font-weight: bold;
}
.content-title .title a {
  font-size: 16px;
  font-weight: bold;
}

/**
 *  side-title
 */
.side-title {
  margin-bottom: 15px;
  padding-bottom: 7px;
  border-bottom: 1px solid #aaa;
}
.side-title .title {
  padding-left: 10px;
  border-left: 3px solid #D10400;
  font-size: 14px;
  font-weight: bold;
}
.side-title .title a {
  font-size: 14px;
  font-weight: bold;
}

/**
 *  ui-box-item
 */
.ui-box-item {
  margin-bottom: 15px;
}
.ui-box-item .box-image {
  margin-bottom: 5px;
}
.ui-box-item .box-image img {
  border: 1px solid #aaa;
}
.ui-box-item .box-title .title {
  margin-top: 0;
  margin-bottom: 5px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
}
.ui-box-item .box-title .title a {
  display: inline-block;
  font-weight: bold;
}
.ui-box-item .review {
  margin-bottom: 5px;
  color: #E8BB0B;
}
.ui-box-item .review .count {
  color: #333;
}
.ui-box-item .item-price {
  margin-bottom: 0;
}

.block-newproducts .row,
.block-sellranking .row,
.block-recommend .row,
#whobought_area .row {
  margin-right: -5px;
  margin-left: -5px;
}
.block-newproducts .row > div,
.block-sellranking .row > div,
.block-recommend .row > div,
#whobought_area .row > div {
  padding-right: 5px;
  padding-left: 5px;
}

/**
 *  ui-box-list
 */
.ui-box-list {
  margin-bottom: 10px;
}
.ui-box-list .box-image img {
  border: 1px solid #aaa;
}
.ui-box-list .box-title .title {
  margin-top: 0;
  margin-bottom: 5px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
}
.ui-box-list .box-title .title a {
  display: inline-block;
  font-weight: bold;
}

.ui-side .ui-box-list > div.row {
  margin-left: -5px;
  margin-right: -5px;
}
.ui-side .ui-box-list > div.row > * {
  padding-left: 5px;
  padding-right: 5px;
}

/**
 *  ui-list-menu
 */
.ui-list-menu {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
.ui-list-menu li p {
  margin: 0;
}
.ui-list-menu li a {
  display: block;
  padding: 10px 0;
  border-bottom: 1px dotted #aaa;
}
.ui-list-menu li a i {
  margin-top: 2px;
}
.ui-list-menu li ul {
  padding-left: 15px;
  list-style: none;
}

/* ------------------------------------- */
/*  CMS - blocks
/* ------------------------------------- */
/**
 *  header_login_area
 */
.block-header-login {
  padding: 5px 0;
  border-top: 3px solid #D10400;
  background-color: #fff;
}
.block-header-login .site-description {
  margin-bottom: 0;
  font-size: 12px;
}
.block-header-login ul {
  margin-bottom: 0;
}
.block-header-login ul li {
  padding-right: 13px;
  border-right: 1px dashed #aaa;
}
.block-header-login ul li a {
  color: #111;
}
.block-header-login ul li a.btn {
  color: #fff;
}
.block-header-login ul li:last-child {
  border-right: none;
  padding-right: 0;
}

/**
 *  news
 */
.block-news .section-body {
  max-height: 300px;
  overflow-y: scroll;
  padding: 15px;
  border: 1px solid #aaa;
}
.block-news .newslist {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #aaa;
}

/**
 *  flex-slider
 */
.block-slider {
  overflow: hidden;
}

.flexslider {
  margin: 0;
  border: none;
}

.flex-direction-nav a {
  height: 44px;
  top: 46%;
  transform: translateY(-50%);
}

.flex-control-thumbs {
  margin: 0;
}
.flex-control-thumbs li img {
  border-top: 3px solid #aaa;
}
.flex-control-thumbs li img.flex-active {
  border-color: #D10400;
}

/**
 *  block-banner
 */
.block-banner {
  margin-bottom: 10px;
}

/**
 *  block-shopping-guide
 */
.block-shopping-guide {
  font-size: 12px;
}
.block-shopping-guide .content-title {
  margin-bottom: 0;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background-color: #D10400;
}
.block-shopping-guide .content-title .title {
  margin-bottom: 0;
  padding: 10px 15px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
.block-shopping-guide .content-title .title span {
  font-size: 12px;
}
.block-shopping-guide .section-body {
  padding: 15px;
}
.block-shopping-guide .guide-title {
  padding: 6px 10px;
  margin-bottom: 10px;
  border: 1px solid #aaa;
}
@media (max-width: 767px) {
  .block-shopping-guide .guide-title {
    margin-top: 20px;
  }
}
.block-shopping-guide .guide-body ul li {
  margin-bottom: 5px;
}
.block-shopping-guide .guide-body img {
  max-width: 100%;
  max-height: 100%;
}

/* ------------------------------------- */
/*  CMS - pages
/* ------------------------------------- */
/**
 *  eccube style
 */
.attention,
.point {
  color: #E64E4E;
}

.message {
  color: #111;
  font-size: 14px;
}

.box60 {
  width: 60px;
}
@media (max-width: 767px) {
  .box60 {
    width: 50px;
  }
}

.box80 {
  width: 80px;
}

.box120 {
  width: 100%;
}
@media (min-width: 768px) {
  .box120 {
    width: 120px;
  }
}

.box300 {
  width: 100%;
}
@media (min-width: 768px) {
  .box300 {
    width: 300px;
  }
}

.box380 {
  width: 100%;
}
@media (min-width: 768px) {
  .box380 {
    width: 380px;
  }
}

/**
 *  button debug
 */
div.btn,
li.btn,
p.btn {
  padding: 0;
  border: none;
  cursor: none;
}
div.btn:active,
li.btn:active,
p.btn:active {
  box-shadow: none;
}

/* ------------------------------------- */
/*   Cart: カートページのスタイル
/* ------------------------------------- */
#undercolumn_cart .point_announce {
  margin-bottom: 20px;
}
#undercolumn_cart .point_announce .price {
  color: #f00;
  font-weight: bold;
  padding: 0 5px;
}
#undercolumn_cart .totalmoney_area {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  #undercolumn_cart .form_area table #quantity_level li {
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
#undercolumn_cart .form_area table #quantity_level li a i {
  font-size: 18px;
}

/* ------------------------------------- */
/*  mypage: マイページのスタイル
/*    - mynavi_area
/* ------------------------------------- */
/**
 *  index
 */
@media (max-width: 767px) {
  #mynavi_area .mynavi_list li {
    display: block;
  }
  #mynavi_area .mynavi_list li a {
    display: block;
    padding: 8px 10px;
    border: 1px solid #aaa;
    border-bottom: none;
    background-color: #f4f4f4;
  }
  #mynavi_area .mynavi_list li:last-child a {
    border-bottom: 1px solid #aaa;
  }
}

/**
 *  mypage
 */
@media (max-width: 767px) {
  #mypagecolumn .btn_area .btn {
    margin-bottom: 10px;
  }
}

/* ------------------------------------- */
/*  products: 商品ページのスタイル
/*    - page-navi
/*    - product-list
/*    - product-detail
/* ------------------------------------- */
/**
 *	page-navi
 */
#undercolumn #page_navi_top,
#undercolumn #page_navi_bottom {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  #undercolumn #page_navi_top,
  #undercolumn #page_navi_bottom {
    margin-top: 20px;
  }
}
#undercolumn #page_navi_top .item_num,
#undercolumn #page_navi_bottom .item_num {
  margin-bottom: 15px;
  color: #111;
  font-weight: bold;
}
#undercolumn #page_navi_top .change,
#undercolumn #page_navi_bottom .change {
  text-align: right;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #aaa;
}
@media (max-width: 767px) {
  #undercolumn #page_navi_top .change,
  #undercolumn #page_navi_bottom .change {
    text-align: center;
  }
}
#undercolumn #page_navi_top .change a,
#undercolumn #page_navi_bottom .change a {
  margin-right: 5px;
  padding: 6px 12px;
  border-radius: 2px;
  border: 1px solid #aaa;
  font-size: 12px;
}
#undercolumn #page_navi_top .change a:hover,
#undercolumn #page_navi_bottom .change a:hover {
  color: #fff;
  text-decoration: none;
  border-color: #00E;
  background-color: #00E;
}
#undercolumn #page_navi_top .change select,
#undercolumn #page_navi_bottom .change select {
  width: 80px;
  height: 30px;
  border: 1px solid #aaa;
  background-color: #fff;
}
@media (max-width: 767px) {
  #undercolumn #page_navi_top .change select,
  #undercolumn #page_navi_bottom .change select {
    width: 100%;
    margin-top: 20px;
  }
}
#undercolumn #page_navi_top .navi,
#undercolumn #page_navi_bottom .navi {
  text-align: center;
  color: #111;
}
#undercolumn #page_navi_top .navi a,
#undercolumn #page_navi_bottom .navi a {
  display: inline-block;
  margin-bottom: 10px;
  padding: 6px 10px;
  border-radius: 2px;
  border: 1px solid #aaa;
  font-size: 12px;
}
#undercolumn #page_navi_top .navi a:hover,
#undercolumn #page_navi_bottom .navi a:hover {
  color: #fff;
  text-decoration: none;
  border-color: #00E;
  background-color: #00E;
}
#undercolumn #page_navi_bottom .change {
  display: none;
}

/**
 *	product-list
 */
.ui-product-list {
  text-align: left;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #aaa;
}
.ui-product-list > div.row {
  margin-left: -10px;
  margin-right: -10px;
}
.ui-product-list > div.row > * {
  padding-left: 10px;
  padding-right: 10px;
}
.ui-product-list .status_icon li {
  padding-right: 0;
}
.ui-product-list .product-title {
  margin-bottom: 15px;
}
.ui-product-list .product-title .title {
  margin-top: 0;
  font-size: 22px;
}
.ui-product-list .product-title .title a {
  font-size: 22px;
  font-weight: bold;
}
.ui-product-list .normal_price,
.ui-product-list .sale_price {
  margin-bottom: 15px;
  color: #111;
  font-weight: bold;
}
.ui-product-list .normal_price .price,
.ui-product-list .sale_price .price {
  font-size: 14px;
}
.ui-product-list .listcomment {
  margin-bottom: 15px;
}
.ui-product-list .cart_area {
  padding-top: 15px;
  border-top: 1px solid #aaa;
}
@media (min-width: 768px) {
  .ui-product-list .cart_area select {
    width: 130px;
  }
}
@media (min-width: 768px) {
  .ui-product-list .cart_area input[type="text"] {
    width: 100px;
    margin-left: 6px;
  }
}
.ui-product-list .cart_area dl {
  margin-bottom: 10px;
}
.ui-product-list .cart_area dl:last-child {
  margin-bottom: 15px;
}
.ui-product-list .cart_area dl dt {
  display: inline-block;
  width: auto;
  color: #333;
}
.ui-product-list .cart_area dl dd {
  display: inline-block;
}
.ui-product-list .cart_area .cartin {
  padding: 15px;
  border: 1px solid #aaa;
  background-color: #f4f4f4;
}
.ui-product-list .cart_area .cartin input[type="text"] {
  width: 130px;
}
.ui-product-list .cart_area .cartin .quantity {
  display: inline-block;
  margin-right: 15px;
}
@media (max-width: 991px) {
  .ui-product-list .cart_area .cartin .quantity {
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) {
  .ui-product-list .cart_area .cartin .cartin_btn {
    display: inline-block;
  }
}
.ui-product-list .cart_area .cartin .cartin_btn .btn {
  width: 150px;
}
@media (max-width: 767px) {
  .ui-product-list .cart_area .cartin .cartin_btn .btn {
    width: 100%;
    padding: 8px 12px;
  }
}
.ui-product-list .description {
  margin-bottom: 15px;
}
.ui-product-list .detail_btn .btn {
  margin-bottom: 15px;
}

/**
 *	product-detail
 */
#detailarea #detailphotobloc {
  margin-bottom: 20px;
}
#detailarea #detailphotobloc img {
  margin-bottom: 5px;
}
#detailarea #detailrightbloc .status_icon li {
  padding-right: 0;
}
#detailarea #detailrightbloc .product-title {
  margin-bottom: 30px;
}
#detailarea #detailrightbloc .product-title .title {
  color: #111;
  font-size: 26px;
  font-weight: bold;
}
#detailarea #detailrightbloc .product-title .title a {
  color: #111;
  font-size: 26px;
  font-weight: bold;
}
#detailarea #detailrightbloc .product-title .title a:hover {
  color: #00E;
}
#detailarea #detailrightbloc .dl-horizontal {
  margin-bottom: 5px;
}
#detailarea #detailrightbloc .dl-horizontal dt {
  display: inline-block;
  width: 100px;
  color: #111;
  font-size: 12px;
}
@media (min-width: 768px) {
  #detailarea #detailrightbloc .dl-horizontal dt {
    width: 100px;
  }
}
#detailarea #detailrightbloc .dl-horizontal dd {
  display: inline-block;
}
@media (min-width: 768px) {
  #detailarea #detailrightbloc .dl-horizontal dd {
    margin-left: 0;
  }
}
#detailarea #detailrightbloc .price-area,
#detailarea #detailrightbloc .spec-area,
#detailarea #detailrightbloc .main_comment {
  margin-bottom: 15px;
}
#detailarea #detailrightbloc .normal_price .price,
#detailarea #detailrightbloc .sale_price .price {
  color: #111;
  font-size: 18px;
  font-weight: bold;
}
#detailarea #detailrightbloc .cart_area {
  padding-top: 15px;
  border-top: 2px solid #aaa;
}
@media (min-width: 768px) {
  #detailarea #detailrightbloc .cart_area select {
    width: 130px;
  }
}
@media (min-width: 768px) {
  #detailarea #detailrightbloc .cart_area input[type="text"] {
    width: 100px;
    margin-left: 6px;
  }
}
#detailarea #detailrightbloc .cart_area .cartin {
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #aaa;
  background-color: #f4f4f4;
}
#detailarea #detailrightbloc .cart_area .cartin input[type="text"] {
  width: 60px;
}
#detailarea #detailrightbloc .cart_area .cartin .quantity {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
}
#detailarea #detailrightbloc .cart_area .cartin .quantity dt {
  width: auto;
}
@media (min-width: 768px) {
  #detailarea #detailrightbloc .cart_area .cartin .cartin_btn {
    display: inline-block;
  }
}
#detailarea #detailrightbloc .cart_area .cartin .cartin_btn .btn {
  width: 230px;
}
@media (max-width: 767px) {
  #detailarea #detailrightbloc .cart_area .cartin .cartin_btn .btn {
    width: 100%;
    padding: 8px 12px;
  }
}

.subcomment-area .ui-box-list {
  margin-bottom: 25px;
}

#customervoice_area .review_bloc {
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #aaa;
}
#customervoice_area .review_bloc p {
  display: inline-block;
  margin: 0;
  font-size: 12px;
}
#customervoice_area .review_bloc .review_btn {
  display: inline-block;
  float: right;
  color: #fff;
}
@media (max-width: 767px) {
  #customervoice_area .review_bloc .review_btn {
    display: block;
    float: none;
    margin-top: 10px;
  }
}
#customervoice_area .review_bloc .review_btn a {
  padding: 4px 8px;
  border: 1px solid #00E;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
}
#customervoice_area .review_bloc .review_btn a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #00E;
}
@media (max-width: 767px) {
  #customervoice_area .review_bloc .review_btn a {
    width: 100%;
    font-size: 14px;
  }
}
#customervoice_area ul {
  list-style: none;
  padding: 15px;
  font-size: 12px;
}
#customervoice_area ul li {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
#customervoice_area ul li .recommend_level {
  color: #ffbd30;
}

@media (max-width: 767px) {
  #cboxOverlay {
    max-width: 100% !important;
  }

  #colorbox,
  #cboxWrapper,
  #cboxContent {
    max-width: 100% !important;
    background-color: transparent;
  }

  #cboxLoadedContent {
    max-width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
  }

  .cboxPhoto {
    max-width: 100% !important;
    height: auto !important;
    border: 1px solid #333;
  }
}
/* ------------------------------------- */
/*  shopping: 購入ページのスタイル
/*    - shopping
/*    - login
/*    - customer
/* ------------------------------------- */
/**
 *  shopping
 */
#undercolumn_shopping .shopping-flow {
  padding-left: 0;
  margin-bottom: 30px;
}
#undercolumn_shopping .shopping-flow li {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 25%;
  height: 45px;
  margin-left: -4px;
  color: #111;
  line-height: 45px;
  background-color: #ececec;
}
#undercolumn_shopping .shopping-flow li.current {
  color: #fff;
  background-color: #00E;
}
#undercolumn_shopping .shopping-flow li.row2 {
  line-height: 14px;
  padding-top: 10px;
}
@media (max-width: 767px) {
  #undercolumn_shopping .shopping-flow li {
    width: 100%;
  }
}
#undercolumn_shopping .pay_area,
#undercolumn_shopping .pay_area02,
#undercolumn_shopping .point_area {
  margin-bottom: 40px;
}
#undercolumn_shopping .delivdate select {
  display: inline-block;
  width: 150px;
}
#undercolumn_shopping .radio-button li {
  margin-bottom: 15px;
}
#undercolumn_shopping .radio-button li input {
  margin-right: 5px;
}
#undercolumn_shopping textarea {
  width: 100%;
}
@media (max-width: 767px) {
  #undercolumn_shopping .btn_area .btn {
    margin-bottom: 10px;
  }
}

/**
 *  login
 */
#undercolumn_login .login_area {
  margin-top: 40px;
}
#undercolumn_login .login_area .inputbox {
  margin: 30px 0;
}
#undercolumn_login .login_area .inputbox .btn_area ul {
  margin-bottom: 0;
}

/**
 *  customer
 */
#undercolumn_customer .shopping-flow {
  padding-left: 0;
}
#undercolumn_customer .shopping-flow li {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 25%;
  height: 45px;
  margin-left: -4px;
  color: #111;
  line-height: 45px;
  background-color: #ececec;
}
#undercolumn_customer .shopping-flow li.current {
  color: #fff;
  background-color: #00E;
}
#undercolumn_customer .shopping-flow li.row2 {
  line-height: 14px;
  padding-top: 10px;
}
@media (max-width: 767px) {
  #undercolumn_customer .shopping-flow li {
    width: 100%;
  }
}
#undercolumn_customer form table select {
  margin: 5px 0;
}
#undercolumn_customer form table select[name="order_year"],
#undercolumn_customer form table select[name="order_month"],
#undercolumn_customer form table select[name="order_day"] {
  width: 60px;
  margin-right: 5px;
}
@media (max-width: 767px) {
  #undercolumn_customer form table select[name="order_year"],
  #undercolumn_customer form table select[name="order_month"],
  #undercolumn_customer form table select[name="order_day"] {
    width: 110px;
  }
}
#undercolumn_customer form table td select {
  width: 130px;
}

/* ------------------------------------- */
/*  windowcolumn: ポップアップページのスタイル
/* ------------------------------------- */
#windowcolumn #forgot {
  padding: 10px;
}
#windowcolumn #forgot .name {
  margin-left: 49px;
}
@media (max-width: 767px) {
  #windowcolumn #forgot .name {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  #windowcolumn table {
    widows: 300px;
  }
}
